In [1]:
import requests
import pandas as pd
from pandas import DataFrame
import datetime
import pytz

In [2]:
URL = 'https://api.spacexdata.com/v3/launches/upcoming'

In [3]:
r = requests.get(URL)

In [4]:
launches = r.json()

In [5]:
len(launches)

7

In [6]:
flight_number = []

upcoming_summary = []

i = 0
for launch in launches:
    data =  flight_number, rocket_name, launch_date, payload_type, payload_weight, crew, launch_details = launches[i]['flight_number'], launches[i]['rocket']['rocket_name'], launches[i]['launch_date_utc'],  launches[i]['rocket']['second_stage']['payloads'][0]['payload_type'], launches[i]['rocket']['second_stage']['payloads'][0]['payload_mass_lbs'], launches[i]['crew'], launches[i]['details']
    upcoming_summary.append(data)
    i += 1

df = DataFrame(data = upcoming_summary, columns =["Flight Number", "Rocket Name", "Launch Time", "Payload", "Payload Weight", "Crew", "Mission Details"])
df

,Flight Number,Rocket Name,Launch Time,Payload,Payload Weight,Crew,Mission Details
0,107,Falcon 9,2020-11-15T00:49:00.000Z,Crew Dragon,NaN,[],None
1,108,Falcon 9,2020-11-01T00:00:00.000Z,Satellite,NaN,None,SpaceX will launch NROL-108 for the National R...
2,109,Falcon 9,2020-11-21T17:17:00.000Z,Satellite,3174.657,None,None
3,110,Falcon 9,2020-11-01T00:00:00.000Z,Satellite,NaN,None,None
4,112,Falcon 9,2020-12-02T17:50:00.000Z,Dragon 1.1,NaN,None,None
5,113,Falcon 9,2020-12-01T00:00:00.000Z,Satellite,NaN,None,None
6,123,Falcon 9,2021-07-01T00:00:00.000Z,Satellite,NaN,None,None

In [12]:
print(launch_date)

2021-07-01T00:00:00.000Z

In [13]:
#Okay... I can't miss it. Jupyter: set me a timer for these launches...

launch_days = []

def format_time(launch_times):
    print("Upcoming launch dates and time information:")
    
    i=0
    for each in launch_times:
        launch_day = launch_times[i][2]
        date = datetime.datetime.strptime(launch_day, "%Y-%m-%dT%H:%M:%S.%fZ")
        launch_days.append(date)
        i += 1 
    
    x=0
    for each in launch_days:
        date = launch_days[x].strftime("%B %d, %Y")
        time = launch_days[x].strftime("%H:%M") #TODO: Need to put this on 12 hour and add am/pm
        print("Flight {} will launch on {} at approximately {}".format(launch_times[x][0], date, time))
        x +=1
        
format_time(upcoming_summary)

Upcoming launch dates and time information:
Flight 107 will launch on November 15, 2020 at approximately 00:49
Flight 108 will launch on November 01, 2020 at approximately 00:00
Flight 109 will launch on November 21, 2020 at approximately 17:17
Flight 110 will launch on November 01, 2020 at approximately 00:00
Flight 112 will launch on December 02, 2020 at approximately 17:50
Flight 113 will launch on December 01, 2020 at approximately 00:00
Flight 123 will launch on July 01, 2021 at approximately 00:00

In [10]:
#TODO: format time

def time_remaining(launch_data):
    now = datetime.datetime.now()
    
    i=0
    for each in launch_days:
        timedelta = launch_days[i] - now
        date = launch_days[i].date()
        if int(timedelta.days) < 0 :
            print("This launch occured on {}. You missed it by {}.".format(date, timedelta))
        else:
            print("Time remaining until launch: {}".format(timedelta))
        i += 1

time_remaining(upcoming_summary)

Time remaining until launch: 4 days, 5:00:51.868368
This launch occured on 2020-11-01. You missed it by -10 days, 4:11:51.868368.
Time remaining until launch: 10 days, 21:28:51.868368
This launch occured on 2020-11-01. You missed it by -10 days, 4:11:51.868368.
Time remaining until launch: 21 days, 22:01:51.868368
Time remaining until launch: 20 days, 4:11:51.868368
Time remaining until launch: 232 days, 4:11:51.868368

In [11]:
i = 0
    for each in launch_data:
        print("Flight {}: {}".format(launch_data[i][0], launch_data[i][2]))
        i += 1

IndentationError: unexpected indent (<ipython-input-11-03a8c13597b2>, line 2)