In [2]:
import requests
import pandas as pd
from pandas import DataFrame
import datetime
import pytz
from collections import Counter
import matplotlib.pyplot as plt

# Gather data via API's for past launch and upcoming launch data

In [3]:
first_URL = 'https://api.spacexdata.com/v3/launches/upcoming'
fr = requests.get(first_URL)
upcoming_launches = fr.json()


second_URL = 'https://api.spacexdata.com/v3/launches/past'
sd = requests.get(second_URL)
past_launches = sd.json()

In [4]:
num_past = len(past_launches)
num_upcoming = len(upcoming_launches)

# Past Launch Data and Summary

In [5]:
past_summary = []

i = 0 
for launch in past_launches:
    data =  flight_number, rocket_name, launch_date, payload_type, payload_weight, crew, launch_details = past_launches[i]['flight_number'], past_launches[i]['rocket']['rocket_name'], past_launches[i]['launch_date_utc'],  past_launches[i]['rocket']['second_stage']['payloads'][0]['payload_type'], past_launches[i]['rocket']['second_stage']['payloads'][0]['payload_mass_lbs'], past_launches[i]['crew'], past_launches[i]['details']
    past_summary.append(data)
    i += 1

df1 = DataFrame(data = past_summary, columns =["Flight Number", "Rocket Name", "Launch Date/Time", "Payload", "Payload Weight", "Crew", "Mission Details"])
df1

,Flight Number,Rocket Name,Launch Date/Time,Payload,Payload Weight,Crew,Mission Details
0,1,Falcon 1,2006-03-24T22:30:00.000Z,Satellite,43.000,None,Engine failure at 33 seconds and loss of vehicle
1,2,Falcon 1,2007-03-21T01:10:00.000Z,Satellite,NaN,None,Successful first stage burn and transition to ...
2,3,Falcon 1,2008-08-03T03:34:00.000Z,Satellite,NaN,None,Residual stage 1 thrust led to collision betwe...
3,4,Falcon 1,2008-09-28T23:15:00.000Z,Satellite,363.000,None,Ratsat was carried to orbit on the first succe...
4,5,Falcon 1,2009-07-13T03:35:00.000Z,Satellite,440.000,None,None
...,...,...,...,...,...,...,...
101,102,Falcon 9,2020-09-03T12:46:00.000Z,Satellite,33951.200,None,The 11th operational batch of Starlink satelli...
102,103,Falcon 9,2020-10-06T11:29:00.000Z,Satellite,33951.200,None,This mission will launch the twelfth batch of ...
103,104,Falcon 9,2020-10-18T12:25:00.000Z,Satellite,33951.200,None,This mission will launch the thirteenth batch ...
104,105,Falcon 9,2020-10-24T15:31:00.000Z,Satellite,33951.200,None,This mission will launch the fourteenth batch ...
105,106,Falcon 9,2020-11-05T23:24:00.000Z,Satellite,8115.216,None,SpaceX will launch GPS Block III Space Vehicle...

In [6]:
#SpaceX rocket types and number of occurances each rocket was used in previous launches

rocket_names = []


def rocket_usage(data_set):
    rocket_occurance = Counter(data_set)
    num_rockets = rocket_occurance.items()
    rocket_tally = {str(key): str(value) for key, value in num_rockets}
    print("There were {} types of rockets used in the last {} launches by SpaceX: ".format(len(num_rockets), len(past_launches)))
    print("(Rocket Name: Total Launches)")
    
    for key,value in rocket_tally.items():
        print("{}: {} launches".format(key, value))


i=0
for launch in past_launches:
    rocket_names.append(past_summary[i][1])
    i+=1
    
rocket_usage(rocket_names)

There were 3 types of rockets used in the last 106 launches by SpaceX:
(Rocket Name: Total Launches)
Falcon 1: 5 launches
Falcon 9: 98 launches
Falcon Heavy: 3 launches

In [ ]:
plot =

In [7]:
#First SpaceX launch data and most recent SpaceX launch data

first_launch_date = datetime.datetime.strptime(past_launches[0]['launch_date_utc'], "%Y-%m-%dT%H:%M:%S.%fZ")
recent_launch_date = datetime.datetime.strptime(past_launches[-1]['launch_date_utc'], "%Y-%m-%dT%H:%M:%S.%fZ")

print("SpaceX launched their first launch on {}. The mission details are as follows: {}. The most recent SpaceX launch was on {}. The mission details are as follows: {}".format(first_launch_date.strftime('%B %d, %Y'), past_launches[0]['details'], recent_launch_date.strftime('%B %d, %Y'), past_launches[-1]['details']))

SpaceX launched their first launch on March 24, 2006. The mission details are as follows: Engine failure at 33 seconds and loss of vehicle. The most recent SpaceX launch was on November 05, 2020. The mission details are as follows: SpaceX will launch GPS Block III Space Vehicle 04 from SLC-40, Cape Canaveral AFS aboard a Falcon 9. GPS III is owned and operated by the US Air Force and produced by Lockheed Martin. This will be the fourth GPS III satellite launched and the third launched by SpaceX. The satellite will be delivered into a MEO transfer orbit. The booster for this mission will land on an ASDS.

In [31]:
#Breakdown of payload from past SpaceX missions

# Upcoming Launch Data

In [9]:
upcoming_summary = []

i = 0
for launch in upcoming_launches:
    data =  flight_number, rocket_name, launch_date, payload_type, payload_weight, crew, launch_details = upcoming_launches[i]['flight_number'], upcoming_launches[i]['rocket']['rocket_name'], upcoming_launches[i]['launch_date_utc'],  upcoming_launches[i]['rocket']['second_stage']['payloads'][0]['payload_type'], upcoming_launches[i]['rocket']['second_stage']['payloads'][0]['payload_mass_lbs'], upcoming_launches[i]['crew'], upcoming_launches[i]['details']
    upcoming_summary.append(data)
    i += 1

df2 = DataFrame(data = upcoming_summary, columns =["Flight Number", "Rocket Name", "Launch Time", "Payload", "Payload Weight", "Crew", "Mission Details"])
df2

,Flight Number,Rocket Name,Launch Time,Payload,Payload Weight,Crew,Mission Details
0,107,Falcon 9,2020-11-15T00:49:00.000Z,Crew Dragon,NaN,[],None
1,108,Falcon 9,2020-11-01T00:00:00.000Z,Satellite,NaN,None,SpaceX will launch NROL-108 for the National R...
2,109,Falcon 9,2020-11-21T17:17:00.000Z,Satellite,3174.657,None,None
3,110,Falcon 9,2020-11-01T00:00:00.000Z,Satellite,NaN,None,None
4,112,Falcon 9,2020-12-02T17:50:00.000Z,Dragon 1.1,NaN,None,None
5,113,Falcon 9,2020-12-01T00:00:00.000Z,Satellite,NaN,None,None
6,123,Falcon 9,2021-07-01T00:00:00.000Z,Satellite,NaN,None,None

In [10]:
#Okay... I can't miss it. Jupyter: set me a timer for these launches...

launch_days = []

def format_time(launch_times):
    print("Upcoming launch dates and time information:")
    
    i=0
    for each in launch_times:
        launch_day = launch_times[i][2]
        date = datetime.datetime.strptime(launch_day, "%Y-%m-%dT%H:%M:%S.%fZ")
        launch_days.append(date)
        i += 1 
    
    x=0
    for each in launch_days:
        date = launch_days[x].strftime("%B %d, %Y")
        time = launch_days[x].strftime("%H:%M") #TODO: Need to put this on 12 hour and add am/pm
        print("Flight {} will launch on {} at approximately {}".format(launch_times[x][0], date, time))
        x +=1
        
format_time(upcoming_summary)

Upcoming launch dates and time information:
Flight 107 will launch on November 15, 2020 at approximately 00:49
Flight 108 will launch on November 01, 2020 at approximately 00:00
Flight 109 will launch on November 21, 2020 at approximately 17:17
Flight 110 will launch on November 01, 2020 at approximately 00:00
Flight 112 will launch on December 02, 2020 at approximately 17:50
Flight 113 will launch on December 01, 2020 at approximately 00:00
Flight 123 will launch on July 01, 2021 at approximately 00:00

In [11]:
#TODO: format time

def time_remaining(launch_data):
    now = datetime.datetime.now()
    
    i=0
    for each in launch_days:
        timedelta = launch_days[i] - now
        date = launch_days[i].date()
        if int(timedelta.days) < 0 :
            print("This launch occured on {}. You missed it by {}.".format(date, timedelta))
        else:
            print("Time remaining until launch: {}".format(timedelta))
        i += 1

time_remaining(upcoming_summary)

Time remaining until launch: 4 days, 1:07:58.232850
This launch occured on 2020-11-01. You missed it by -10 days, 0:18:58.232850.
Time remaining until launch: 10 days, 17:35:58.232850
This launch occured on 2020-11-01. You missed it by -10 days, 0:18:58.232850.
Time remaining until launch: 21 days, 18:08:58.232850
Time remaining until launch: 20 days, 0:18:58.232850
Time remaining until launch: 232 days, 0:18:58.232850

In [12]:
i = 0
    for each in launch_data:
        print("Flight {}: {}".format(launch_data[i][0], launch_data[i][2]))
        i += 1

IndentationError: unexpected indent (<ipython-input-12-03a8c13597b2>, line 2)